<div class="container">
    <h1>Meal Tracker</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let meal of meals;let i = index'>
          <div class="answer-form">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Your name is: {{meal.name }}</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">You ate: <br> {{meal.meal}}</h6>
                <hr>
                <p class="card-text">Description: <br> {{meal.description}}</p>
                <!-- <a href="#" class="card-link">Card link</a> -->
                <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
              <hr>
              <div class="card-footer">
                Calories: {{meal.calories}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-meal-form (addMeals)="addNewMeals($event)"></app-meal-form>
          
      </div>
    </div>
  </div>
